@use '@angular/material' as mat;

$font: var(--mat-sys-display-large-font);
$size: 24px;

.big-button {
  @include mat.button-overrides(
    (
      text-label-text-font: $font,
      text-label-text-weight: 400,
      text-label-text-size: $size,
    )
  );
}

.big-text {
  font-family: $font;
  font-size: $size;
  font-weight: 400;
}
