@if (courseResource.hasValue() && registrationResource.hasValue()) {
  @let course = courseResource.value().data!;

  <div
    class="relative mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2 lg:divide-x lg:divide-gray-300"
  >
    <div class="px-8">
      <section
        aria-labelledby="summary-heading"
        class="bg-gray-50 px-4 pt-16 pb-10 sm:px-6 lg:col-start-2 lg:row-start-1 lg:bg-transparent lg:px-0 lg:pb-16"
      >
        <div class="mx-auto max-w-lg lg:max-w-none">
          <h2 id="summary-heading" class="text-gray-900">
            หลักสูตรที่สมัครลงทะเบียน
          </h2>

          <ul
            class="list-disc divide-y divide-gray-200 text-sm font-medium text-gray-900"
          >
            <li class="list-disc flex items-start space-x-2 py-6">
              <div class="flex-auto space-y-1">
                <h3>{{ course["name"] }}</h3>
                <p class="text-gray-500">
                  อบรมวันที่
                  {{ course["startDate"] | date }} -
                  {{ course["endDate"] | date }}
                </p>

                @if (course["isOnline"]) {
                  <p class="text-gray-500">อบรมรมผ่านระบบ ZOOM</p>
                } @else {
                  <p class="text-gray-500">อบรมที่ {{ course["venue"] }}</p>
                }
              </div>
              <p class="flex-none text-base font-medium">
                {{ course["fee"] | number }}
              </p>
            </li>

            <!-- More products... -->
          </ul>

          <dl
            class="hidden space-y-6 pt-6 text-sm font-medium text-gray-900 lg:block"
          >
            <div
              class="flex items-center justify-between border-t border-gray-200 pt-6"
            >
              <dt class="text-base">รวมทั้งสิ้น</dt>
              <dd class="text-base">{{ course["fee"] | number }}</dd>
            </div>
          </dl>

          @if (hasRegister() && !hasPaymentReceived()) {
            <div
              class="mt-10 border-t border-gray-200 pt-6 sm:flex sm:flex-col sm:items-center sm:justify-between"
            >
              <div
                class="mt-4 text-center text-sm text-gray-500 sm:mt-0 sm:text-left"
              >
                กรุณาชำระค่าลงทะเบียนด้วยการโอนเข้าบัญชีเลขที่ ธนาคาร และ upload
                เอกสารการโอนเงินในระบบ
              </div>
              <app-upload
                (done)="startUpload($event)"
                class="w-full mt-4"
              ></app-upload>
            </div>
          } @else if (hasRegister() && hasPaymentReceived()) {
            <div
              class="mt-10 border-t border-gray-200 pt-6 sm:flex sm:flex-col sm:items-center sm:justify-between"
            >
              <div
                class="mt-4 text-center text-sm text-gray-500 sm:mt-0 sm:text-left"
              >
                คุณได้ลงทะเบียนและส่งเอกสารการชำระค่าลงทะเบียนเรียบร้อยแล้ว
              </div>
            </div>
          } @else {
            <div
              class="mt-10 border-t border-gray-200 pt-6 sm:flex sm:items-center sm:justify-between"
            >
              <div
                class="mt-4 text-center text-sm text-gray-500 sm:mt-0 sm:text-left"
              >
                รายละเอียดการชำระค่าลงทะเบียนจะแสดงในขั้นตอนถัดไป
              </div>
              <div>
                <button matButton="filled" (click)="register()">
                  ลงทะเบียน
                </button>
              </div>
            </div>
          }
        </div>
      </section>
    </div>
    <div class="px-8">
      <form
        [formGroup]="registrationForm"
        class="px-4 pt-16 pb-36 sm:px-6 lg:col-start-1 lg:row-start-1 lg:px-0 lg:pb-16"
      >
        <div class="mx-auto max-w-lg lg:max-w-none">
          <section aria-labelledby="contact-info-heading">
            <h2
              id="contact-info-heading"
              class="text-lg font-medium text-gray-900"
            >
              รายละเอียดการลงทะเบียน
            </h2>

            <div class="mt-4">
              <mat-form-field class="w-full styled-disabled">
                <mat-label>ชื่อ-นามสกุลผู้อบรม</mat-label>
                <input
                  matInput
                  [formControl]="registrationForm.controls.nameOnCertificate"
                  value=""
                />
              </mat-form-field>
            </div>
            <div class="mt-2">
              <mat-form-field class="w-full">
                <mat-label>email</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>
            </div>
            <div class="mt-2">
              <mat-form-field class="w-full">
                <mat-label>เบอร์โทรศัพท์</mat-label>
                <input
                  matInput
                  [formControl]="registrationForm.controls.phone"
                  value=""
                />
              </mat-form-field>
            </div>
          </section>

          <section aria-labelledby="payment-heading" class="mt-10">
            <h2
              id="payment-heading"
              class="text-lg font-medium text-gray-900 mb-2"
            >
              ที่อยู่สำหรับการออกใบเสร็จรับเงิน
            </h2>

            @if (this.receiptAddress()) {
              <div
                class="rounded-lg"
                [ngClass]="{
                  'bg-transparent:': hasRegister(),
                  'px-6 pb-6 pt-4 bg-blue-100 border-blue-300 hover:border-blue-400 border-dashed border-2':
                    !hasRegister(),
                }"
              >
                <div class="flex flex-row">
                  <app-address-card class="grow" [address]="receiptAddress()" />
                  <div class="flex-none w-8">
                    <button
                      *ngIf="!hasRegister()"
                      mat-icon-button
                      type="button"
                      (click)="openDrawer('receipt')"
                      color="primary"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            } @else {
              <button
                type="button"
                class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 bg-[#e1e3ed]"
                [ngClass]="{
                  'bg-red-100':
                    registrationForm.controls.receiptAddress.invalid &&
                    registrationForm.controls.receiptAddress.touched,
                }"
                (click)="openDrawer('receipt')"
              >
                <mat-icon>add-box</mat-icon>
                <span class="mt-2 block text-sm font-semibold text-gray-900"
                  >เลือกที่อยู่</span
                >
              </button>
            }
          </section>

          <section aria-labelledby="payment-heading" class="mt-10">
            <h2
              id="payment-heading"
              class="text-lg font-medium text-gray-900 mb-2"
            >
              ที่อยู่สำหรับการจัดส่งประกาศนียบัตรและใบเสร็จรับเงิน
            </h2>

            @if (this.certificateAddress()) {
              <div
                class="rounded-lg"
                [ngClass]="{
                  'bg-transparent:': hasRegister(),
                  'px-6 pb-6 pt-4 bg-blue-100 border-blue-300 hover:border-blue-400 border-dashed border-2':
                    !hasRegister(),
                }"
              >
                <div class="flex flex-row">
                  <app-address-card
                    class="grow"
                    [address]="certificateAddress()"
                  />
                  <div class="flex-none w-8">
                    <button
                      mat-icon-button
                      type="button"
                      *ngIf="!hasRegister()"
                      (click)="openDrawer('certificate')"
                      color="primary"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            } @else {
              <button
                type="button"
                class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 bg-[#e1e3ed]"
                [ngClass]="{
                  'bg-red-100':
                    registrationForm.controls.certificateAddress.invalid &&
                    registrationForm.controls.certificateAddress.touched,
                }"
                (click)="openDrawer('certificate')"
              >
                <mat-icon>add-box</mat-icon>
                <span class="mt-2 block text-sm font-semibold text-gray-900"
                  >เลือกที่อยู่</span
                >
              </button>
            }
          </section>
        </div>
      </form>
    </div>
  </div>
}
