<div class="mx-auto max-w-7xl px-6 mb-8 lg:px-8">
  <app-breadcrumb [items]="['เกี่ยวกับเรา', 'กรรมการมูลนิธิ']"></app-breadcrumb>
</div>

<div class="mx-auto max-w-7xl px-6 mb-8 lg:px-8">
  <div class="header-font text-4xl">คณะกรรมการชุดปัจจุบัน</div>
  <div class="mt-4 text-gray-700">จดทะเบียนแต่งตั้งวันที่ 6 ธันวาคม 2567</div>

  <div class="mt-8">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-2xl py-2 align-middle sm:px-6 lg:px-8">
        <div class="shadow-sm ring-1 ring-black/5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                >
                  ลำดับที่
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  ชื่อ-นามสกุล
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  ตำแหน่ง
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  1
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  ดร. ปฐม สวรรค์ปัญญาเลิศ
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  ประธานกรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  2
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางอุมาพร สุขม่วง
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  รองประธานกรรมการ คนที่หนึ่ง
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  3
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางสุมาลี ทั่งพิทยกุล
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  รองประธานกรรมการ คนที่สอง
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  4
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางดุษฎี มั่นความดี
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  5
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางเทพีวรรณ จิตรวัชรโกมล
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  6
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางสาวลดา พันธ์สุขุมธนา
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  7
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นายกนิษฐ์ ตะปะสา
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  8
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางสาวปัทมา นพรัตน์
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  9
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางสาวนีระนารถ แจ้งทอง
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  10
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางพจมาน ท่าจีน
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  11
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางอังสนา ฉั่วสุวรรณ์
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  12
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางสาวอังค์วรา พูลเกษม
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการ
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  13
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นางรุ่งนภา มณีนิล
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการและเหรัญญิก
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6"
                >
                  14
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  นายเดช บัวคลี่
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  กรรมการและเลขานุการ
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
