<div>
  <time class="flex items-center header-font text-indigo-600">
    <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
      <circle cx="2" cy="2" r="2" fill="currentColor" />
    </svg>
    {{ date() }}
    <div
      class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
      aria-hidden="true"
    ></div>
  </time>
  <p class="mt-6 text-lg/8 font-semibold tracking-tight text-gray-900">
    {{ title() }}
  </p>
  <p class="mt-1 text-base/7 text-gray-600">
    <ng-content></ng-content>
  </p>
</div>
