<h3>หลักสูตรฝึกอบรม</h3>
@if (course()) {
  <p>{{ course().name }}</p>
}
@if (registrations()) {
  <table mat-table [dataSource]="registrations()" multiTemplateDataRows>
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td
        mat-cell
        *matCellDef="let element; let i = dataIndex"
        class="element-row"
      >
        <p>{{ paginatorRef.pageIndex * paginatorRef.pageSize + i + 1 }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="registerDate">
      <th mat-header-cell *matHeaderCellDef>วันที่ลงทะเบียน</th>
      <td mat-cell *matCellDef="let element" class="element-row">
        <p>{{ element.registerDate | date: 'dd MMM yyyy HH:mm' }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="nameOnCertificate">
      <th mat-header-cell *matHeaderCellDef>ชื่อผู้เข้าอบรม</th>
      <td mat-cell *matCellDef="let element" class="element-row">
        <p>{{ element.nameOnCertificate }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>email</th>
      <td mat-cell *matCellDef="let element" class="element-row">
        <p>{{ element.email }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>เบอร์โทร</th>
      <td mat-cell *matCellDef="let element" class="element-row">
        <p>{{ element.phone }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="registerStatus">
      <th mat-header-cell *matHeaderCellDef>สถานะการลงทะเบียน</th>
      <td mat-cell *matCellDef="let element" class="element-row">
        @switch (element.registerStatus) {
          @case ('REGISTERED') {
            <p>ลงทะเบียนแล้ว-ไม่ใช้</p>
          }
          @case ('PAYMENT_PENDING') {
            <p>รอส่งหลักฐานชำระค่าลงทะเบียน</p>
          }
          @case ('PAYMENT_RECEIVED') {
            <p>รอตรวจสอบหลักฐานชำระค่าลงทะเบียน</p>
          }
          @case ('ENROLLED') {
            <p>ตรวจสอบออกใบเสร็จแล้ว</p>
          }
          @case ('WAIT_LIST') {
            <p>จองลงทะเบียน</p>
          }
        }
      </td>
    </ng-container>

    <!-- Secondary Column -->
    <ng-container matColumnDef="secondary">
      <td
        mat-cell
        [attr.colspan]="5"
        *matCellDef="let element; let i = dataIndex"
      >
        @let row_index = paginatorRef.pageIndex * paginatorRef.pageSize + i;
        <div>
          <span class="font-medium pr-2">สถานะการลงทะเบียน:</span>
          @switch (element.registerStatus) {
            @case ('REGISTERED') {
              <span>ลงทะเบียนแล้ว-ไม่ใช้</span>
            }
            @case ('PAYMENT_PENDING') {
              <span>รอส่งหลักฐานชำระค่าลงทะเบียน</span>
            }
            @case ('PAYMENT_RECEIVED') {
              <span>รอตรวจสอบหลักฐานชำระค่าลงทะเบียน</span>
            }
            @case ('ENROLLED') {
              <span>ตรวจสอบออกใบเสร็จแล้ว</span>
            }
            @case ('WAIT_LIST') {
              <span>จองลงทะเบียน</span>
            }
          }
        </div>
        <div class="flex items-center">
          @if (element.uploads && element.uploads.length > 0) {
            <span class="font-medium">หลักฐานการโอนเงิน</span>
            @for (upload of element.uploads; track upload.id) {
              <button
                mat-icon-button
                (click)="openUpload(upload.url, fileType(upload.mime))"
                [disabled]="fileType(upload.mime) === 'unsupport'"
              >
                <mat-icon>preview</mat-icon>
              </button>
            }
          }
          @if (element.receipt) {
            <span class="font-medium pl-4">ใบเสร็จรับเงิน</span>
            <button
              mat-icon-button
              (click)="
                openUpload(element.receipt.url, fileType(element.receipt.mime))
              "
              [disabled]="fileType(element.receipt.mime) === 'unsupport'"
            >
              <mat-icon>preview</mat-icon>
            </button>
          } @else {
            @if (isStartUploading[row_index]) {
              <button mat-button disabled="true">
                Uploading<mat-progress-bar
                  mode="buffer"
                  class="inline"
                ></mat-progress-bar>
              </button>
            } @else {
              <button
                mat-button
                (click)="f_input.click()"
                [disabled]="isStartUploading[row_index]"
              >
                upload ใบเสร็จรับเงิน
              </button>

              <input
                hidden
                type="file"
                #f_input
                (change)="selectFiles($event, row_index)"
              />

              @if (receiptFiles[row_index]?.file) {
                <button
                  mat-icon-button
                  (click)="openPreview(row_index)"
                  [disabled]="receiptFiles[row_index]?.type === 'unsupport'"
                >
                  <mat-icon>preview</mat-icon>
                </button>

                <button
                  matButton="filled"
                  (click)="startUpload(row_index, element.documentId)"
                  [disabled]="isStartUploading[row_index]"
                >
                  <mat-icon>save</mat-icon> <span>save</span>
                </button>
              }
            }
          }
        </div>

        @if (element.registerStatus !== 'WAIT_LIST') {
          <div
            class="sm:grid sm:grid-cols-2 sm:items-start sm:gap-2 sm:pt-0 pb-4"
          >
            @if (element.certificateAddress) {
              <div>
                <div class="block text-sm/6 font-medium">
                  ที่อยู่ส่งใบประกาศ
                </div>
                <div class="mt-0 sm:mt-0">
                  <app-address-line
                    [addr]="element.certificateAddress"
                  ></app-address-line>
                </div>
              </div>
            }
            @if (element.receiptAddress) {
              <div class="mt-4 sm:mt-0">
                <div class="block text-sm/6 font-medium sm:pt-1.5">
                  ที่อยู่ออกใบเสร็จ
                </div>
                <div class="mt-2 sm:mt-0">
                  <app-address-line
                    [addr]="element.receiptAddress"
                  ></app-address-line>
                </div>
              </div>
            }
          </div>
        }
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'number',
        'registerDate',
        'nameOnCertificate',
        'email',
        'phone',
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: [
          'number',
          'registerDate',
          'nameOnCertificate',
          'email',
          'phone',
        ]
      "
      class="element-row"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['secondary']"
      class="detail-row"
    ></tr>
  </table>
  <mat-paginator
    class="mb-8"
    #paginatorRef
    [length]="registrationsPage()?.total"
    [pageSize]="25"
    [pageIndex]="registrationsPage()?.page! - 1"
    (page)="handlePageEvent($event)"
  ></mat-paginator>
}
