@if(mode() == 'top') {
<header class="absolute inset-x-0 top-0 z-50">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 md:px-8"
    aria-label="Global"
  >
    <div class="flex md:flex-1 items-center">
      <span class="sr-only">SSPF</span>
      <img class="h-16 w-auto" src="/images/sspf_logo_small.png" alt="" />

      <button type="button" class="title" routerLink="/">
        มูลนิธิส่งเสริมวิทยาศาสตร์บริการ
      </button>
    </div>
    <div class="flex md:hidden">
      <button mat-mini-fab (click)="clickMenu.emit(true)">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="hidden md:flex md:gap-x-12"></div>
    <div class="hidden md:flex md:gap-x-1 lg:gap-x-2 md:flex-1 md:justify-end">
      <button mat-button routerLink="/training">หลักสูตรฝึกอบรม</button>
      <button mat-button [matMenuTriggerFor]="aboutUsMenu">
        เกี่ยวกับเรา <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #aboutUsMenu="matMenu">
        <button mat-menu-item routerLink="/aboutus">
          <mat-icon>domain</mat-icon>
          <span>ข้อมูลทั่วไป</span>
        </button>
        <button mat-menu-item routerLink="/executives">
          <mat-icon>groups</mat-icon>
          <span>กรรมการมูลนิธิ</span>
        </button>
        <button mat-menu-item routerLink="/activities">
          <mat-icon>campaign</mat-icon>
          <span>กิจกรรมมูลนิธิ</span>
        </button>
        <button mat-menu-item routerLink="/contact">
          <mat-icon>contact_support</mat-icon>
          <span>ติดต่อมูลนิธิ</span>
        </button>
      </mat-menu>

      @if(!authStore.isAuthenticated()) {
      <button mat-icon-button (click)="login()">
        <mat-icon>login</mat-icon>
      </button>
      } @else {
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <mat-list>
          <mat-list-item>{{ authStore.profile()?.username }}</mat-list-item>
        </mat-list>
        <button mat-menu-item routerLink="/training/user/profile">
          <mat-icon>import_contacts</mat-icon>
          <span>ข้อมูลส่วนตัว</span>
        </button>
        <button mat-menu-item routerLink="/training/user/registrations">
          <mat-icon>history_edu</mat-icon>
          <span>ประวัติการอบรม</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>logout</span>
        </button>
      </mat-menu>

      }
    </div>
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <!--
  <div class="lg:hidden" role="dialog" aria-modal="true">
  -->
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <!--
    <div class="fixed inset-0 z-50"></div>
    <div
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img
            class="h-8 w-auto"
            src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600"
            alt=""
          />
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
              >Product</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
              >Features</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
              >Resources</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
              >Company</a
            >
          </div>
          <div class="py-6">
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
              >Log in</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
--></header>
} @else if (mode() == 'sidenav') {
<div class="h-8"></div>
<mat-nav-list>
  <mat-list-item routerLink="/">
    <mat-icon matListItemIcon>home</mat-icon>
    <h3 matListItemTitle>หน้าแรก</h3>
  </mat-list-item>
  <mat-list-item routerLink="/training">
    <mat-icon matListItemIcon>school</mat-icon>
    <h3 matListItemTitle>หลักสูตรฝึกอบรมสำหรับบุคคลทั่วไป</h3>
  </mat-list-item>
  <mat-divider />
  <mat-list-item routerLink="/aboutus">
    <mat-icon matListItemIcon>domain</mat-icon>
    <h3 matListItemTitle>ข้อมูลทั่วไป</h3>
  </mat-list-item>
  <mat-list-item routerLink="/executives">
    <mat-icon matListItemIcon>groups</mat-icon>
    <h3 matListItemTitle>กรรมการมูลนิธิ</h3>
  </mat-list-item>
  <mat-list-item routerLink="/activities">
    <mat-icon matListItemIcon>campaign</mat-icon>
    <h3 matListItemTitle>กิจกรรมมูลนิธิ</h3>
  </mat-list-item>
  <mat-list-item routerLink="/contact">
    <mat-icon matListItemIcon>contact_support</mat-icon>
    <h3 matListItemTitle>ติดต่อมูลนิธิ</h3>
  </mat-list-item>
  <mat-divider></mat-divider>

  @if(!authStore.isAuthenticated()) {

  <mat-action-list>
    <button mat-list-item (click)="login()">
      <mat-icon matListItemIcon>login</mat-icon>
      <h3 matListItemTitle>Login</h3>
    </button>
  </mat-action-list>

  } @else {
  <mat-list-item>
    <h3>{{ authStore.profile()?.username }}</h3>
  </mat-list-item>
  <mat-list-item routerLink="/training/user/profile">
    <mat-icon matListItemIcon>import_contacts</mat-icon>
    <h3 matListItemTitle>ข้อมูลส่วนตัว</h3>
  </mat-list-item>
  <mat-list-item routerLink="/training/user/registrations">
    <mat-icon matListItemIcon>history_edu</mat-icon>
    <h3 matListItemTitle>ประวัติการอบรม</h3>
  </mat-list-item>
  <mat-action-list>
    <button mat-list-item (click)="logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <h3 matListItemTitle>Logout</h3>
    </button>
  </mat-action-list>
  }
</mat-nav-list>
}
